<!DOCTYPE html>
<html>
<head>
    <title>Ma page d'accueil</title>
    <link rel="stylesheet" href="css1">
    
</head>
<body>
    <header>
        <h1>Bienvenue sur mon site</h1>
    </header>
    <nav>
        <ul>
            <li><a href="acceuil.html">Accueil</a></li>
            <li><a href="/about">À propos</a></li>
            <li><a href="/service">Services</a></li>

            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <section>
        <h2>Présentation</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc id aliquam ultrices, nisl nunc tincidunt nunc, id lacinia nunc nunc id nunc.</p>
    </section>
    <footer>
        <p>&copy; 2022 Mon site web. Tous droits réservés.</p>
    </footer>
</body>
</html>